.venv/
__pycache__/
*.pyc
.env
data/
.DS_Store

spark-warehouse/
metastore_db/
derby.log

spark-conf/
dbt/target/
dbt/logs/
dbt/dbt_packages/
lakehouse_catalog.db
airflow_home/
.streamlit/secrets.toml
streamlit-sa-key.json
taxi_zones.zip
taxi_zones_shp/
